@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1739166964627') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-toubide:before {
  content: "\e727";
}

.icon-i_journal_normal:before {
  content: "\e65c";
}

